html{ 
    font-family: 'Courier Prime', monospace;
}


/*main nav bar */
.main-navbar{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.main-navbar li::before{
    content: '\00a0'; 
}

.main-navbar li::after{ 
    content: ' / ';
}


/*header*/
.main-header{ 
    font-size: 3rem;
}

